services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3003:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    volumes:
      - /home/lcmiles/public:/home/lcmiles/public:ro
    restart: unless-stopped

